
body {
    margin: 0;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; 
}


.navbar {
    background-color: #343a40; 
    padding: 10px 30px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.navbar .left,
.navbar .right {
    display: flex; 
    align-items: center;
}


.navbar a {
    color: #ffffff; 
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 8px; 
    font-size: 1em;
    font-weight: 500;
    transition: all 0.2s ease-in-out; 
    border-radius: 4px;
}


.navbar a:hover {
    background-color: #495057; 
    color: #e9ecef; 
}

/* 'Register' için */
.navbar .right a:last-child {
    background-color: #007bff;
    color: white;
    margin-left: 20px;
    border-radius: 20px;
    padding: 10px 20px;
}

.navbar .right a:last-child:hover {
    background-color: #0056b3; /* Hover'da daha koyu mavi */
    color: #ffffff;
}
